<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/" lang="ES-CO">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>EmpleosApp | Formulario de Registro</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css/}"
	rel="stylesheet">
</head>

<body>
	<header th:insert="fragments/menu :: menu-principal"></header>
	<main role="main">
		<hr>
		<div class="container">

			<div class="card">
				<h4 class="card-header">
					<strong>Registrar nuevo usuario</strong>
				</h4>
				<div class="card-body">
					<form th:action="@{/usuarios/guardar}" method="post"
						th:object="${User}">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="nombre">Nombres</label> <input type="text"
										class="form-control" id="first_name" name="first_name"
										placeholder="Ej: Luis Alejandro" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="nombre">Apellidos</label> <input type="text"
										class="form-control" id="last_name" name="last_name"
										placeholder="Ej: Villamizar Muñoz" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="email">Correo electrónico</label> <input
										type="email" class="form-control" id="email" name="email"
										placeholder="Ej: villamizarmunz@gmail.com" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="email">Celular</label> <input type="number"
										class="form-control" id="phone" name="phone"
										placeholder="Ej: 3045462020" required="required" >
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="username">Entidad</label> <input type="text"
										class="form-control" id="entity" name="entity"
										placeholder="Ej: Universidad Pontificia" required="required">
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="estatus">Perfil</label> <select
										class="form-control" name="setProfile"
										id="setProfile">
										<option value="1">ADMINISTRADOR</option>
										<option value="2">DOCENTE</option>
										<option value="3">ESTUDIANTE</option>
									</select>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="username">Usuario</label> <input type="text"
										class="form-control" id="username" name="username"
										placeholder="Ej: villamizarmunz" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="password">Contraseña</label> <input type="password"
										class="form-control" id="password" name="password"
										placeholder="**********" required="required">
								</div>
							</div>
						</div>
						<hr>
						<button type="submit" title="Quiero registrarme."
							class="btn btn-primary">Registrar</button>
					</form>
				</div>
			</div>
		</div>
		<!-- /container -->

	</main>

	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>